/* General */

body {
  font-family: 'calluna', serif;
  font-size: 14px;
  line-height: 1.5em;
  background-color: #fff;

  margin: 0;
  padding: 5em 9em;
}

a { color: #77ce67; text-decoration: none; }
h1, h2, h3, h4, h5, h6, p { margin: 0 0 1.5em 0; }

pre { font-size: 14px; line-height: 1.5em; } 


/* Home */

.header-home { margin-bottom: 3em; }

.header-home__title {
  font-size: 3em;
  line-height: 1.1em;
  display: inline-block;
  margin-bottom: 0.2em;
  border-bottom: 0.1em solid;
}

.header-home__description {
  font-size: 1.2em;
  font-weight: normal;
  font-style: italic;
  line-height: 1.5em;
  color: #999;
}

.post            { margin-bottom: 1.5em; }
.post__title     { font-size: 1.8em; margin-bottom: 0.25em; }
.post__title > a { text-decoration: none; color: inherit; }
.post___time     { color: #aaa; }



/* Single post */

.content-header  { margin-bottom: 2em; }

.content-header__home-link {
  border-bottom: 2px solid;
  color: inherit;
  font-size: 1.2em;
  font-weight: 600;
}

.article         { font-size: 16px; line-height: 1.5em; max-width: 560px; }
.article-title   { font-size: 2.4em; line-height: 1.25em; margin-bottom: 0; }
.article-content { margin-bottom: 5em; } 
.article-meta    { color: #999; font-style: italic; font-size: 1em; line-height: 1.5em; }
.article-header  { margin-bottom: 1.5em; }
.article-tags    { font-style: italic; }
