/* General */

body {
  font-family: 'museo-sans', serif;
  font-size: 18px;
  line-height: 1.5em;
  background-color: #fff;

  padding: 2em 2%;

  max-width: 860px;
  margin: 0 auto;
}

a { color: #3E52B9; text-decoration: none; }
a:hover { color: #8292E7; }
h1, h2, h3, h4, h5, h6, p { margin: 0 0 1.5em 0; }


/* Home */

.header-home { margin-bottom: 3em; }

.header-home__title {
  font-size: 2em;
  line-height: 1.1em;
  display: inline-block;
  margin-bottom: 0.2em;
  border-bottom: 0.1em solid;
}

.header-home__description {
  font-size: 0.9em;
  font-weight: normal;
  font-style: italic;
  line-height: 1.5em;
  color: #999;
}

.post            { margin-bottom: 1.5em; }
.post__title     { font-size: 1.2em; font-weight: normal; line-height: 1.4em; margin-bottom: 0; }
.post__title > a { text-decoration: none; color: inherit; }
.post___time     { color: #aaa; }


/* Single post */

.content-header  { margin-bottom: 2em; }

.content-header__home-link {
  border-bottom: 2px solid;
  color: inherit;
  font-size: 1.2em;
  font-weight: 600;
}

.article-title     { font-size: 2.4em; line-height: 1.25em; margin-bottom: 0; }
.article-content   { margin-bottom: 5em; }
.article-meta      { color: #999; font-style: italic; font-size: 1em; line-height: 1.5em; }
.article-header    { margin-bottom: 1.5em; }
.article-tags      { font-style: italic; }

.article-content p,
.article-content ul,
.article-content ol  { max-width: 720px; }
.article-content pre { max-width: 1280px; }
.article-content img { max-width: 960px; width: 100%; }


/* Code */

p > code {
  font-size: 0.8em;
  background-color: hsl(50, 97%, 90%);
  padding: 5px;
}

.content .article pre {
  font-size: 14px;
  line-height: 1.5em;
  position: relative;
  background-color: transparent;
}

@media all and (max-width: 400px) {
  body {
    font-size: 14px;
  }

  .post__title {
    font-size: 1.3em;
    line-height: 1.4em;
  }
}

@media (max-width: 860px) {
  body {
    font-size: 16px;
  }

  .article-title {
    font-size: 1.8em;
  }
}
